user_uuid = "36f41b78-798c-4a14-b382-40e471bdd335"
bucket_name="4aj5tdjm2jooafbvfbbnbmnd79"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
content_version=1